/******************TAG SELECTORS***************/

body {
  background-color: #e8e8e8;
    }

hr {
  height: 0px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 5%;
  border-width: 4px
  }

  h1 {
    color: #096386
  }

  h3 {color: #096386}
}

/******************CLASS SELECTORS***************/

cube {
  background-color: red;
}

/******************ID SELECTORS***************/

#heading {

color: #096386;
}
